<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sebwite" sortOrder="200">
            <label>Sebwite</label>
        </tab>
        <section id="sebwite_productdownloads" showInDefault="1">
            <tab>sebwite</tab>
            <label>Product Downloads</label>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Product Downloads</label>
                <field id="extension" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>File extensions</label>
                    <comment>Comma separated list of the allowed file extensions.</comment>
                    <can_be_empty>0</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>